@import url('./confetti.css');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #000;
}

.game-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.container {
    max-width: 1250px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    padding: 15px 0;
}

.header__title {
    text-align: center;
    margin: 0;
    color: #fff;
}

.game-section {
    padding-top: 50px;
}

.game-section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-menu__title {
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
    color: #fff;
}

.game-menu__difficult-btn,
.restart-btn {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background: transparent;
    color: #222;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.game-menu__difficult-btn:not(:last-child) {
    margin-bottom: 10px;
}

.game-menu__difficult-btn,
.restart-btn {
    padding: 15px 20px;
    background-color: #5dc6ff;
}

.game-menu__difficult-btn:hover {
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
    background-color: #222;
    color: #fff;
}

.game-table {
    max-width: 500px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game-card {
    width: 50px;
    height: 100px;
    flex: 0 0 23%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: purple;
    border-radius: 5px;
    transition: all 0.2s linear;
    margin: 1%;
}

.game-card i {
    font-size: 40px;
    display: none;
}

.game-card i+i {
    display: block;
}

.game-card.flip {
    background: #5dc6ff !important;
    transform: perspective(100px) rotateY(180deg);
}

.game-card.flip i {
    display: block;
}

.game-card.flip i+i {
    display: none;
}

.game-card.successfully {
    background: #76db82 !important;
}

.game-card:hover {
    background: #d1d1c0;
}